@import "styles/variables";

.container {
  display: inline-block;
  position: relative;
}

.popup {
  max-width: 400px;
  line-height: $line-height-px;
  white-space: normal;
}

.icon {
  padding-top: 1px;
  width: 15px;
  height: 15px;
}
