@import "styles/mixins";

.challengeId {
  display: inline-block;

  input {
    display: inline-block;
    margin: 0;
    border: none !important;
    padding: 0;
    width: 70px;
    height: 22px;
    background: #fff;
    @include roboto-medium;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none !important;
    box-shadow: none !important;
    pointer-events: none;
    color: #0d61bf;
  }
}

.iconLink,
.iconCopyLink,
.iconOpenLink {
  display: inline-block;
  vertical-align: -2px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.iconLink {
  margin-right: 5px;
  background-image: url("./../../../../assets/images/icon-link.png");
}

.iconCopyLink {
  margin-left: 18px;
  background-image: url("./../../../../assets/images/icon-copy.png");
  cursor: pointer;
}

.iconOpenLink {
  margin-left: 16px;
  text-decoration: none;
  background-image: url("./../../../../assets/images/icon-open-outside.png");
}

.weeklyRate,
.days,
.amount {
  text-align: right;
}

.paymentStatus {
  white-space: nowrap;
}

.statusWithError {
  display: flex;
  align-items: baseline;
}

.paymentError {
  margin-left: 5px;
}

.hidden {
  display: none;
}
