@import "styles/mixins";

.container {
  th {
    text-align: left;
    background: #f4f4f4;

    &:last-child {
      .colHead {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.colHeadSelect {
  padding: 9px 20px 9px 30px;
}

.colHead {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 9px 17px;
}

.colLabel {
  @include roboto-bold;
  font-size: 12px;
  line-height: 16px;
  color: #555;
  white-space: nowrap;
}

.sortControl {
  margin: 0 5px 1px 8px;
}
