.container {
  display: flex;
  flex-direction: column;
  width: 9px;
}

.arrowUp,
.arrowDown {
  display: block;
  cursor: pointer;
}

.arrowDown {
  margin-top: 3px;
}

.hidden {
  visibility: hidden;
}
