@import "mixins";
@import "variables";

html {
  background-color: $page-bg-color !important;
}

#single-spa-main *,
#single-spa-main *::before,
#single-spa-main *::after {
  box-sizing: border-box;
}

#single-spa-main {
  @include roboto-regular;
  font-size: 14px;
  line-height: (22/14);
  color: $text-color;
}

strong {
  font-weight: 700;
}
