@import "mixins";
@import "variables";

.redux-toastr {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin: 0;
  border: none;
  padding: 0;
  height: auto;
  background: transparent;

  @include desktop {
    left: $sidebar-width;
  }

  > div {
    position: absolute;
    left: 10px;
    top: 24px;
    right: 10px;
    margin: 0;
    border: none;
    padding: 0;
    height: auto;
    background: transparent;

    @include desktop {
      left: 22px;
      top: 24px;
      right: 14px;
    }
  }

  .top-right {
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;

    > div {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .toastr {
    .rrt-left-container,
    .rrt-right-container {
      display: none;
    }
  }
}
