@import "styles/mixins";

.container {
  display: block;
  position: relative;
  border-radius: 8px;
  padding: 14px 42px 15px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fff;

  @include desktop {
    padding: 14px 64px 15px;
  }

  a {
    color: #fff;
  }
}

.message {
  text-align: center;
}

.btnClose {
  position: absolute;
  top: 22px;
  right: 22px;
  margin: 0;
  border: none;
  padding: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: transparent;
  outline: none !important;
  cursor: pointer;

  @include desktop {
    right: 27px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -1px -1px auto;
    width: 12px;
    height: 2px;
    background: #fff;
    transform-origin: 50% 50%;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.info {
  background: #1e94a3;
}

.success {
  background: #229174;
}

.warning {
  background: #efc847;
}

.error {
  background: #e90c5a;
}
