@import "styles/mixins";

.container {
  position: relative;
  border-radius: 8px;
  padding: 25px 30px 25px 23px;
  box-shadow: 0 5px 35px 5px rgba(21, 21, 22, 0.1),
    0 10px 14px 0 rgba(21, 21, 22, 0.3);
  background: #fff;
}

.title {
  @include roboto-medium;
  line-height: 20px;
  white-space: nowrap;
}

.paymentsList {
  margin-top: 5px;
}
