.container {
}

.periodsBlock {
}

.periodsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 13px 13px 32px;
}

.periodsFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 13px 13px 13px 32px;
}

.periodCount {
  white-space: nowrap;
}

.periodWeekPicker {
  margin-left: 40px;
}

.periodsPagination {
  margin-left: 40px;
}
