@import "styles/mixins";

.periodsHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 13px 13px 13px 29px;

  @include desktop {
    flex-wrap: nowrap;
  }
}

.periodCount {
  margin-right: 20px;
  margin-bottom: 13px;
  white-space: nowrap;

  @include tablet {
    margin-bottom: 0;
  }

  @include desktop {
    margin-right: 40px;
  }
}

.periodWeekPicker {
  margin-bottom: 13px;

  @include tablet {
    margin-bottom: 0;
  }
}

.periodsPaginationTop {
  width: 100%;

  @include tablet {
    margin-left: 20px;
    width: auto;
    min-width: 382px;
  }

  @include desktop {
    margin-left: 40px;
    min-width: 505px;
  }
}

.periodsFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 13px 13px 13px 32px;
}
