@import "styles/mixins";

div.modalContainer {
  padding: 20px;
}

div.modal {
  margin: 0;
  border-radius: 8px;
  border: none;
  padding: 0;
  width: 640px;
  max-width: 100%;
}

.wrapper {
  padding: 32px 32px 22px;
}

button.closeButton {
  display: inline-block;
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  width: 15px;
  background: transparent;
  outline: none !important;
  box-shadow: none !important;

  svg {
    display: block;
    width: 100%;
    height: auto;
  }
}

.title {
  margin: 0 0 24px;
  font-size: 34px;
  line-height: 38px;
  text-transform: uppercase;
  @include barlow-condensed;
}

.content {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 22px;
  @include roboto-regular;

  + .controls {
    margin-top: 24px;
  }
}

.controls {
  display: flex;
  flex-wrap: wrap;
}

.button {
  margin: 0 10px 10px 0;

  &:last-child {
    margin-right: 0;
  }
}
