@import "styles/mixins";
@import "styles/variables";

.container {
  > td {
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
  }

  &:nth-child(odd) {
    > td {
      background: #f9f9f9;
    }
  }

  &.hasDetails {
    > td {
      border-top: 1px solid #d6d6d6;
      background: #fff;

      &.toggle {
        border-left: 1px solid #d6d6d6;
        padding-top: 11px;
        padding-left: 14px;
      }

      &.daysWorked {
        border-right: 1px solid #d6d6d6;
        padding-top: 4px;
        padding-right: 9px;
      }
    }
  }

  &.isFailed {
    > td {
      background-color: $period-row-failed-bg-color;
    }
  }
}

.periodDetails {
  + .container.hasDetails {
    > td {
      &.toggle {
        padding-top: 12px;
      }

      &.daysWorked {
        padding-top: 5px;
      }
    }
  }
}

td.toggle {
  padding: 12px 18px 12px 15px;
  line-height: 15px;
  white-space: nowrap;
}

.selectionCheckbox {
  display: inline-block;
}

.processingError {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  width: 15px;
}

.userHandle {
  a {
    @include roboto-bold;
    color: #0d61bf;
  }
}

.userHandleContainer {
  display: inline-block;
  max-width: 20em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.teamName {
  @include roboto-medium;
  white-space: nowrap;
}

td.startDate,
td.endDate {
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

td.weeklyRate {
  text-align: right;
}

td.paymentTotal {
  text-align: right;
  white-space: nowrap;
}

.paymentError {
  margin-right: 5px;
}

.paymentTotalContainer {
  position: relative;
}

td.daysWorked {
  padding: 5px 10px;
}

.tooltipContent {
  white-space: nowrap;
  font-weight: 400;
}

.tooltipLabel {
  margin-right: 5px;
  white-space: nowrap;
  font-weight: 500;
}
