@import "styles/mixins";

.container {
  td {
    padding-left: 17px;
    padding-right: 17px;
    background: #fff;
  }

  &:nth-child(odd) {
    td {
      background: #f9f9f9;
    }
  }
}

td.toggle {
  padding: 12px 20px 12px 15px;
  line-height: 15px;
}

.userHandle {
  a {
    @include roboto-bold;
    color: #0d61bf;
  }
  span {
    display: block;
    max-width: 20em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

td.teamName {
  @include roboto-medium;
  white-space: nowrap;
}

td.startDate,
td.endDate {
  white-space: nowrap;
}

td.weeklyRate {
  span {
    display: inline-block;
    width: 70px;
    text-align: right;
  }
}

td.workingDays {
  padding: 5px 10px;
}

.workingDaysControl {
  width: 100px;
}
