@import "styles/variables";

.container {
  display: block;
  text-align: left;

  &.single {
    display: inline-block;
  }
}

input.checkbox {
  z-index: 1;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: transparent;
  color: transparent;

  &:checked {
    + .impostor {
      border: none;
      line-height: 20px;
      background-color: $checkbox-bg-color;
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.29);

      &::before {
        display: block;
      }
    }
  }

  &:disabled {
    + .impostor {
      background-color: $control-disabled-bg-color;
      cursor: not-allowed;
    }
  }
}

.impostor {
  z-index: 2;
  position: relative;
  display: inline-block;
  vertical-align: -3px;
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
  border-radius: 3px;
  line-height: 18px;
  user-select: none;
  background-color: #fff;
  color: transparent;

  &::before {
    content: "";
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-size: 15px auto;
    background-position: 4px 5px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("./../../assets/images/icon-tick-white.svg");
  }
}

.small {
  input.checkbox {
    width: 15px;
    height: 15px;

    &:checked {
      + .impostor {
        line-height: 15px;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.29);

        &::before {
          display: block;
        }
      }
    }
  }

  .impostor {
    z-index: 2;
    position: relative;
    display: inline-block;
    vertical-align: -2px;
    width: 15px;
    height: 15px;
    line-height: 13px;

    &::before {
      width: 15px;
      height: 15px;
      background-size: 12px auto;
      background-position: 3px 4px;
    }
  }
}

.label {
  display: inline-block;
  margin-left: 10px;

  &:empty {
    margin-left: 0;
  }
}
