.arrow {
  display: inline-block;

  svg {
    display: block;
    width: 100%;
    height: auto;

    path,
    polygon {
      fill: #aaa;
    }
  }

  &.isActive {
    svg {
      path,
      polygon {
        fill: #000;
      }
    }
  }

  &.up {
    svg {
      transform: rotate(180deg);
    }
  }
}
