@import "styles/mixins";
@import "styles/variables";

.container {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  @include roboto-regular;
  font-size: $font-size-px;
  line-height: ($line-height-px/$font-size-px);
  color: $text-color;
  background-color: $page-bg-color;

  @include desktop {
    flex-direction: row;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
