@import "styles/variables";

.container {
  position: relative;
  display: inline-block;
}

.paymentTotal {
  display: inline-block;
  line-height: 16px;

  &.hasPayments {
    border-bottom: 1px dashed $text-color;
    cursor: pointer;
  }
}

.daysPaid {
  color: #aaa;
}
