.container {
  position: relative;

  .dropdown-arrow {
    display: none;
  }
}

.paymentTotal {
  white-space: nowrap;
}

.paymentTotalSum {
  display: inline-block;
  width: 70px;
  text-align: right;
}

.daysPaid {
  color: #aaa;
}

.hasPayments {
  cursor: pointer;
}

.popup {
  z-index: 1;
}
