@import "styles/variables";

.container {
  position: relative;

  .dropdown-arrow {
    display: none;
  }
}

.paymentTotal {
  width: 90px;
  text-align: right;
  white-space: nowrap;
}

.paymentTotalText {
  display: inline-block;
  line-height: 16px;

  &.hasPayments {
    border-bottom: 1px dashed $text-color;
    cursor: pointer;
  }
}

.daysPaid {
  color: #aaa;
}

.popup {
  z-index: 1;
}
